variable "folder_id" {
  type = string
  default = "aaaaaaaaaaaaaaa"
}
variable "source_image" {
  type = string
  default = "ubuntu-1604-lts"
}
variable "service_acc_key_path" {
  type = string
  default = "/home/user/key.json"
}
