service_account_key_file = "~/terraform.iam_key.json"
cloud_id                 = "xxxxxxxxxxxxxxxxxxxxx"
folder_id                = "xxxxxxxxxxxxxxxxxxxxx"
image_id                 = "xxxxxxxxxxxxxxxxxxxxx"
subnet_id                = "xxxxxxxxxxxxxxxxxxxxx"
public_key_path          = "~/.ssh/id_rsa.pub"
private_key_path         = "~/.ssh/id_rsa"
app_disk_image           = "xxxxxxxxxxxxxxxxxxxxx"
db_disk_image            = "xxxxxxxxxxxxxxxxxxxxx"
node_type                = "-stage"